<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/nav.ejs') %>
<h1>Have a good laugh</h1>
<img src="https://shareitsfunny.com/wp-content/uploads/2017/02/real-ass-hole.jpg" alt="donkey hell"/>
<%- include('includes/end.ejs') %>