<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
        title #{docTitle}
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__listItems
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product
        main
            if prods.length > 0
                .grid
                    each product in prods
                        article.card.product-item
                            header.card__header
                                h1.product__title #{product.title}
                            .card__image
                                img(src="https://cdn.shoplightspeed.com/shops/608796/files/7140596/flite-flite-sk-c-75-hockey-skates-the-big-ones.jpg", alt="hockey skates")
                            .card__content
                                h2.product__price $150
                                p.product__description Kick ass skates that are awesome and should be worn by everyone.  Buy it now!
                            .card__actions
                                button.btn Buy Now!
            else
                h1 Nothing to see here!