<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <% if(prods.length > 0) { %>
        <div class="grid">
            <% prods.forEach((product) => { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image"><img
                        src="https://cdn.shoplightspeed.com/shops/608796/files/7140596/flite-flite-sk-c-75-hockey-skates-the-big-ones.jpg"
                        alt="hockey skates" /></div>
                <div class="card__content">
                    <h2 class="product__price">$150</h2>
                    <p class="product__description">Kick ass skates that are awesome and should be worn by everyone. Buy
                        it now!</p>
                </div>
                <div class="card__actions"><button class="btn">Buy Now!</button></div>
            </article>
            <% }) %>
        </div>
        <% } %>
    </main>
    <%- include('includes/end.ejs') %>