.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    font-size: 1.1rem;
}

.form-control > label,
.form-control > input,
.form-control > textarea {
    width: 90%;
    color: var(--primary); 
}

.form-control > input,
.form-control > textarea {
    background-color: var(--secondary);
    margin-bottom: 1rem;
}

.form-control > input:focus,
.form-control > textarea:focus {
    outline-color: var(--primary);
}

.form-control > input {
    font:inherit;
    border-radius: .2rem;
    border: 1px solid var(--primary);
}